<!DOCTYPE html>
<html>
<head>
<title>3D PRINTED TOOLS</TITLE>
<style rel="stylesheet" type="text/css">
  
	
	</style>
 <link rel="stylesheet" href="./css/style.css" type="text/css"/>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
<body  class="bg-light text-info">
<nav class="navbar navbar-expand-sm bg-dark ">
  <a class="navbar-brand nav-justified" href="#">
    <img src="/images/logo" alt="Logo" style="width:40px;">
  </a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">CONTACT DETAILS</a>
    </li>
	 <li class="nav-item">
      <a class="nav-link" href="/sign">SIGN UP</a>
    </li>
	 <li class="nav-item">
      <a class="nav-link" href="/login">LOGIN</a>
    </li>
	 <li class="nav-item">
      <a class="nav-link" href="/logout">LOGOUT</a>
    </li>
  </ul>
<form class="form-inline" action="#">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-info" type="submit">Search</button>
  </form>
</nav>
<div class="container">
<div class="jumbotron bg-info m-5 pb-5 ">
   <h1 class="text-dark">GREEN GEAR</h1>
	<H3 class="text-dark">AGRICULTURAL TOOLS</H3>
    <p class="text-dark">FOR THE FIRST TIME,GREEN GEAR TAKEN A FORWARD STEP TOWARDS 3D PRINTED TOOLS FOR FARMERS WELFARE
	AND DEVELOPMENT</p>
</div >
<h1 class="text-dark">The benefits of 3D printing for agriculture</h1>
<h3 class="text-dark">Mass customization</h3>
<p class="text-dark">
Agriculture and technology have a lot to do together. For food production, farm equipment, farming products, 3D printing could be a great asset and simplify a lot of processes.  3D printing is the perfect tool for mass-customization. Indeed, you should know that this technology is perfect to create custom-made objects for many different sectors such as medical or automotive.

For agriculture, this mass-customization aspect is also a great advantage. Indeed, it is particularly convenient to get 3D printed tools, for example. This way, the tools can be adapted to the activity and their really specific use. Indeed, using digital manufacturing is a great way to manufacture objects that you have designed perfectly.
</p>
</div>
</body>
</html>