<!DOCTYPE html>
<html>
<head>
<style rel="stylesheet" type="text/css">
  body{
    background-image:url("https://i.ytimg.com/vi/-MKapbz0GIo/maxresdefault.jpg");
	background-position:center top;
	}
	
	</style>
<title>3D PRINTED TOOLS</TITLE>
 <link rel="stylesheet" href="./css/style.css" type="text/css"/>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
<body>
<nav class="navbar navbar-expand-sm bg-dark ">
  <a class="navbar-brand nav-justified" href="#">
    <img src="/images/logo" alt="Logo" style="width:40px;">
  </a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">CONTACT DETAILS</a>
    </li>
	 <li class="nav-item">
      <a class="nav-link" href="/sign">SIGN UP</a>
    </li>
	 <li class="nav-item">
      <a class="nav-link" href="/login">LOGIN</a>
    </li>
	 <li class="nav-item">
      <a class="nav-link" href="/logout">LOGOUT</a>
    </li>
  </ul>
<form class="form-inline" action="#">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-info" type="submit">Search</button>
  </form>
</nav>

<div class="jumbotron bg-info m-5 pb-5 ">
   <h1 class="text-dark">GREEN GEAR</h1>
	<H3 class="text-dark">AGRICULTURAL TOOLS</H3>
    <p class="text-dark">FOR THE FIRST TIME,GREEN GEAR TAKEN A FORWARD STEP TOWARDS 3D PRINTED TOOLS FOR FARMERS WELFARE
	AND DEVELOPMENT</p>
</div>   


<div class="container">
<div id="demo" class="carousel slide m-5 pb-5" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    
	<div class="carousel-item active" >
	<img src="https://www.3dprintwestern.com/wp-content/uploads/2016/04/agriculture-and-forestry.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        
      </div>   
    </div>
	<div class="carousel-item" >
	<img src="https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_850/https://garuda3d.com/wp-content/uploads/2019/03/customizable-shovel-handle-.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        
      </div>   
    </div>
	<div class="carousel-item" >
	<img src="https://solidedge.siemens.com/wp-content/uploads/2018/05/3D-Print-3D-Builder-02-480x270.png" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</body>